
<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>管理者メニュー</title>

  <link rel="stylesheet"
        href="/css/style.css"
        th:href="@{/css/style.css}">
</head>

<body>
  <main class="admin-menu">

    <h1 class="page-title">管理者メニュー</h1>

    <nav aria-label="管理者メニュー">
      <ul class="menu-list">

        <li>
          <a class="menu-link"
             href="/orderedList"
             th:href="@{/orderedList}">
            受注状況一覧
          </a>
        </li>

        <li>
          <a class="menu-link"
             href="/adminList"
             th:href="@{/adminList}">
            商品一覧
          </a>
        </li>

        <li>
          <a class="menu-link"
             href="/insert"
             th:href="@{/insert}">
            商品登録
          </a>
        </li>
        <li>
			<form action="/logout" 
					th:action="${adminLogout} ? @{/admin/logout} : @{/logout}"
					 method="post">
			<nav class="bottom-navigation">
				<div class="button-area">
				  <button class="login-button" type="submit"
								 href="/logout"
				                 th:href="@{/logout}">
				            ログアウト
				            </button>
			 </nav>
          </form>
        </li>

      </ul>
    </nav>

  </main>
</body>
</html>